/* Style.css */
QWidget {                                                                                                               /*Usage: Background color*/
    background-color: #092139;
}

#moondrift_header {                                                                                                     /*Usage: Home, Stats, Profile*/
    color: #69AAF1;
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 21px;
}

/*QFooter {
    background-image: url("C:/Moondrift/assets/footer_explore.png");
    background-repeat: no-repeat;
    background-position: center;
}*/

#moondrift_h1 {                                                                                                         /*Usage: Home, Stats, Explore, Profile*/
    color: #B8D5E5;
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/* ┌─── ∘° Buttons °∘ ───┐ */
QPushButton {                                                                                                           /*Usage: Default Button Design*/
    background-color: transparent;
    color: #69AAF1;
    border: 2px solid #092139;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* QPushButton:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
*/
QPushButton#footerButton {                                                                                                /*Usage: Footer Buttons */
    border-color: transparent;
     border-radius: 39px;
    min-width: 75px;
    min-height: 75px;
    padding: 0; /* Remove extra spacing */
}

QPushButton#footerButton:hover {
    background-color: transparent;
    border: 2px solid rgba(7, 197, 199, 0.8)
}

/* └─── °∘ Buttons ∘° ───┘ */

/* ༺═────────────═༻ Home ༺═────────────═༻ */
#home_buttons {                                                                                                         /*Usage: Text in Buttons (not used) */
    background-color: #16635B;
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

/* ┌─── ∘° Buttons °∘ ───┐ */
#start_sleep {                                                                                                          /*Usage: Button to track sleep*/
    background-color: #113953;
    color: #FFFFFF;
    padding: 1px;
    border: 0px solid;
    font-family: 'Figtree', sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
}

#start_sleep:hover {
    background-color: #3A5A75;
}

#set_alarm {                                                                                                            /*Usage: Button to set alarm*/
    background-color: #092139;
    color: #FFFFFF;
    border: 3px solid #113953;
    border-radius: 15px;
    font-family: 'Figtree', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#set_alarm:hover {
    border: 3px solid #3A5A75;
}

/* └─── °∘ Buttons ∘° ───┘ */

/* ༺═────────────═༻ Statistics ༺═────────────═༻ */
#stats_diagram_text_stats {                                                                                             /*Usage: Text for Time*/
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 15px;
}

#stats_diagram_text_date {                                                                                              /*Usage: Text for Date*/
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    font-weight: normal;
    font-size: 10px;
}

/* ┌─── ∘° Buttons °∘ ───┐ */

/* └─── °∘ Buttons ∘° ───┘ */

/* ༺═────────────═༻ Explore ༺═────────────═༻ */
#explore_sound_text {                                                                                                   /*Usage: Text for Soundname*/
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

#explore_artist_text {                                                                                                  /*Usage: Text for Artistname*/
    color: #88939E;
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

/* ┌─── ∘° Buttons °∘ ───┐ */

/* └─── °∘ Buttons ∘° ───┘ */

/* ༺═────────────═༻ Profile ༺═────────────═༻ */
#profile_text_description {                                                                                             /*Usage: Sleep Personality Description*/
    color: #D4D4D4;
    font-family: 'Alef', sans-serif;
    font-weight: normal;
    font-size: 13px;
}

/* ┌─── ∘° Buttons °∘ ───┐ */

/* └─── °∘ Buttons ∘° ───┘ */

/* ༺═────────────═༻ Settings ༺═────────────═༻ */
#settings_header {                                                                                                      /*Usage: "Settings", "Profile", "Notification", "Other" */
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

#settings_h1 {                                                                                                          /*Usage: “Name”, “Date of Birth”, “Email”, “Sleep Personality”, “Password”*/
    color: #B8D5E5;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#settings_text {                                                                                                        /*Usage: “Notifications”, “Updates”, “Language”, “TOS”, “Privacy Policy”, Subscription Terms”*/
    color: #B8D5E5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#settings_fillout_text {                                                                                                /*Usage: Fillout under "Profile"*/
    color: #6F7B89;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#settings_button_text {                                                                                                 /*Usage: “Add or switch accounts”, “Log out”, “Delete Account”*/
    color: #80C4EB;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* ┌─── ∘° Buttons °∘ ───┐ */

/* └─── °∘ Buttons ∘° ───┘ */
